* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    background-color: #eae8e8;
    @media only screen and (max-width: 680px) {
        height: auto;
    }
}
img { 
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.game {
    display: flex;
    // flex-wrap: wrap;
    width: 100%;
    @media only screen and (max-width: 680px) {
        display: block;
        width: unset;
    }
    .moves {
        // margin-top: 32px;
        font-size: 41px;
        padding: 0 5%;
        color: rgb(43, 41, 41);
        width: 39%;
        margin: auto;
        @media only screen and (max-width: 680px) {
            font-size: 24px;
            margin: 24px 0;
            padding: 0 5%;
            width: 100%;
            // margin: unset;
        }
        p {
            margin-top: 48px;
            @media only screen and (max-width: 680px) {
                margin-top: unset;
            }
        }
        #moves {
            font-weight: 900;
            @media only screen and (max-width: 680px) {
                    font-size: 24px;
            }
        }
    }
}

.desc {
    // color: teal;
    font-weight: 700;
    h2 {
        background-color: rgb(87, 87, 118);
        color: whitesmoke;
        padding: 20px;
        @media only screen and (max-width: 680px) {
            padding: 18px;
        }
    }
}

.container {
    // padding: 10%;
    width: 61%;
    margin-top: 10%;
    background-color: #eae8e8;
    @media only screen and (max-width: 680px) {
        padding: 0 5% 5% 5%;
        height: 100vh;
        margin-top: unset;
        width: 100%;
    }
}
.wrapper {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    justify-content: space-between;
    // background-color: teal;
    margin: auto;
    width: 542px;
    height: 503px;
    box-shadow:15px 15px 15px rgba(0, 0, 0, 0.4);
    border-radius: 10px;
    @media screen and (max-width: 680px) {
        width: 100%;
        height: 61%;
        // margin-top: 70px;
    }
    &__card{
        background-color: rgb(114, 114, 138);
        height: 114px;
        width: 118px;
        @media screen and (max-width: 680px) {
            height: 76%;
            width: 89%;
        }
        border-radius: 10px;
        margin: auto;
        box-shadow:15px 15px 15px rgba(0, 0, 0, 0.4);
        position: relative;
        transform: scale(1);  //efects the transform when clicked
        transform-style: preserve-3d;
        transition: transform .5s; // effect the 3d transform style
        &:active { //triggered whenever any item in wrapper__card is clicked
            transform: scale(.97);
            transition: transform .2s; //transitions the card when clicked
        }
        .front-face,
        .back-face {
            position: absolute;
            backface-visibility: hidden;
            border-radius: 10px;
        }
        .back-face {
            transform: rotateY(180deg);
        }
    }
}
.wrapper__card.flip {
    transform: rotateY(180deg);
}